<div class="row">
	<div class="col-md-4 offset-md-3 mt-4">
		<h3>Reset Password</h3>
		<form #f="ngForm" (ngSubmit)="ngSubmit(f)">
			<div class="form-group">
                <label for="Useremail">User Email</label>
                <input type="email" name="useremail" ngModel required #ruseremail="ngModel" class="form-control" id="loginuseremail" placeholder="Enter Your Registered Email">
            </div>
            <div class="form-group">
                <label for="EnterOtp" >Enter OTP</label>
                <input type="number" name="enterotp" ngModel required #enterotp="ngModel" class="form-control" id="EnterOtp" placeholder="Enter OTP">
            </div>
			<button type="submit" class="btn btn-primary">Reset <i class="fas fa-sign-int-alt"></i></button>
		  </form>
	</div>
</div>