<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>My app</header>
    <ul>
        <li><a href="#" ><i class="fas fa-qrcode"></i>Dashboard</a></li>
        <li><a href="#"><i class="fas fa-lilnk">Shortcuts</i></a></li>
        <li><a href="#"><i class="fas fa-stream"></i>Overview</a></li>
        <li><a href="#"><i class="fas fa-calander-week"></i>Events</a></li>
        <li><a href="#"><i class="fas fa-question-circle"></i>About</a></li>
        <li><a href="#"><i class="fas fa-siders-h"></i>Services</a></li>
        <li><a href="#"><i class="fas fa-envelop"></i>Contacts</a></li>
    </ul>
</div>
<section></section>